<%- include('./partials/__admin-head.ejs') %>
<title>Greeny | Banners</title>

<!-- PLUGINS CSS STYLE -->
<link href="/assets/plugins/simplebar/simplebar.css" rel="stylesheet" />

<!-- No Extra plugin used -->

<link href='/assets/plugins/data-tables/datatables.bootstrap5.min.css' rel='stylesheet'>
<link href='/assets/plugins/data-tables/responsive.datatables.min.css' rel='stylesheet'>
</head>

<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">

  <!-- WRAPPER -->
  <div class="wrapper">

    <!-- LEFT MAIN SIDEBAR -->
    <div class="ec-left-sidebar ec-bg-sidebar">
      <div id="sidebar" class="sidebar ec-sidebar-footer">

        <div class="ec-brand">
          <a href="/admin" title="Greeny">
            <img class="ec-brand-icon" src="/assets/img/logo/ec-site-logo.png" alt="" />
            <!-- <span class="ec-brand-name text-truncate"></span> -->
          </a>
        </div>

        <!-- begin sidebar scrollbar -->
        <div class="ec-navigation" data-simplebar>
          <!-- sidebar menu -->
          <ul class="nav sidebar-inner" id="sidebar-menu">

            <!-- Dashboard -->
            <li class="nav-lis">
              <a class="sidenav-item-link" href="/admin">
                <i class="mdi mdi-view-dashboard-outline"></i>
                <span class="nav-text">Dashboard</span>
              </a>
            </li>
            <hr>

            <!-- Vendors -->


            <!-- Users -->
            <li class="nav-lis">
              <a class="sidenav-item-link" href="/admin/user-list">
                <i class="mdi mdi-account-group"></i>
                <span class="nav-text">Users</span>
              </a>
            </li>
            <hr>

            <!-- Products -->
            <li class="nav-lis">
              <a class="sidenav-item-link" href="/admin/product-list">
                <i class="mdi mdi-palette-advanced"></i>
                <span class="nav-text">Products</span>
              </a>
            </li>
            <hr>

            <!-- Category -->
            <li class="nav-lis">
              <a class="sidenav-item-link" href="/admin/category-list">
                <i class="mdi mdi-dns-outline"></i>
                <span class="nav-text">Categories</span>
              </a>
            </li>
            <hr>

            <!-- Orders -->
            <li class="nav-lis">
              <a class="sidenav-item-link" href="/admin/order-list">
                <i class="mdi mdi-cart"></i>
                <span class="nav-text">Orders</span>
              </a>
            </li>
            <hr>

            <!-- Coupons -->
            <li class="nav-lis">
              <a class="sidenav-item-link" href="/admin/coupon-list">
                <i class="mdi mdi-tag-faces"></i>
                <span class="nav-text">Coupons</span>
              </a>
            </li>
            <hr>

            <!-- Banners -->
            <li class="nav-lis active">
              <a class="sidenav-item-link" href="/admin/banner-list">
                <i class="mdi mdi-image-area"></i>
                <span class="nav-text">Banners</span>
              </a>
            </li>
            <hr>

            <li class="nav-lis">
              <a class="sidenav-item-link" href="/home">
                <i class="mdi mdi-home-outline"></i>
                <span class="nav-text">User -Home Page</span>
              </a>
            </li>
            <hr>

        </div>
      </div>
    </div>

    <!-- PAGE WRAPPER -->
    <div class="ec-page-wrapper">

      <!-- Header -->
      <%- include('./partials/__admin-header.ejs') %>

      <!-- CONTENT WRAPPER -->
      <div class="ec-content-wrapper">
        <div class="content">
          <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
            <div>
              <h1>Banners</h1>
              <p class="breadcrumbs"><span><a href="/admin">Home</a></span>
                <span><i class="mdi mdi-chevron-right"></i></span>Banners
              </p>
            </div>
            <% if(typeof(message) != "undefined" && message ) { %>
            <div>
              <span id="errMessage" style="max-width: 50%; color: green;">
                <span><strong>Last Action: </strong></span><%= message %></span>
            </div>
            <% } %>
            <div>
              <p class="mt-2" id="error-msg" style="color: orangered ;"></p>
              <p class="mt-2" id="success-msg" style="color: green ;"></p>
            </div>
            <div>
              <div>
                <a href="/admin/banner-add" class="btn btn-primary">Add Banner</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card card-default">
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="responsive-data-table" class="table" style="width:100%">
                      <thead>
                        <tr>
                          <th>Banner</th>
                          <th>Name</th>
                          <th>Text Position</th>
                          <th>Status</th>
                          <th>Date Added</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>

                        <!----------- Iterate through products  -->
                        <% let banners = locals.banners || null %>
                        <% if (banners){ %>
                        <% banners.forEach(banner => { %>

                        <tr>
                          <td><img class="tbl-thumb" src="/images/banner/<%= banner.image %>" alt="Product Image" /></td>
                          <td><%= banner.name %> </td>
                          <td><%= banner.textPosition %> </td>
                          <td><%= banner.isActive ? 'ACTIVE' : 'INACTIVE' %></td>
                          <td><%= moment(banner.createdAt).format("MMM Do YY") %></td>
                          <td>
                            <div class="btn-group mb-1">
                              <a type="button" href="/admin/banner-update?id=<%= banner._id %>" class="btn btn-outline-success">Info</a>
                              <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <span class="sr-only">Info</span>
                              </button>

                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="/admin/banner-update?id=<%= banner._id %>">Edit</a>
                                <% if (banner.isActive) { %>
                                <a class="dropdown-item" href="/admin/ban-banner?id=<%= banner._id %>" onclick="return confirm('Are you sure you want to deActivate this banner?');">DeActivate</a>
                                <% } else { %>
                                <a class="dropdown-item" href="/admin/ban-banner?id=<%= banner._id %>" onclick="return confirm('Are you sure you want to activate this banner?');">Activate</a>
                                <% } %>
                                <button class="dropdown-item" data-bid="<%= banner._id %>" onclick="deleteBanner(this)">Delete</button>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <% }) %>
                        <% } %>


                        <!-----------/ Iterate through products  -->

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Content -->
      </div> <!-- End Content Wrapper -->


      <!-- Footer -->
      <%- include('./partials/__admin-footer.ejs') %>

    </div> <!-- End Page Wrapper -->
  </div> <!-- End Wrapper -->

  <!-- Common Javascript -->
  <script src="/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
  <script src="/assets/plugins/jquery/jquery.notify.min.js"></script>
  <script src="/assets/plugins/jquery/jquery.bundle.notify.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/plugins/simplebar/simplebar.min.js"></script>
  <script src="/assets/plugins/jquery-zoom/jquery.zoom.min.js"></script>
  <script src="/assets/plugins/slick/slick.min.js"></script>

  <!-- Datatables -->
  <script src='/assets/plugins/data-tables/jquery.datatables.min.js'></script>
  <script src='/assets/plugins/data-tables/datatables.bootstrap5.min.js'></script>
  <script src='/assets/plugins/data-tables/datatables.responsive.min.js'></script>

  <!-- Option Switcher -->
  <script src="/assets/plugins/options-sidebar/optionswitcher.js"></script>

  <!-- Ekka Custom -->
  <script src="/assets/js/ekka.js"></script>
</body>

</html>