<% let wishlist = locals.wishlist || null %>
<%- include('./partials/__user-head.ejs') %>
<link rel="stylesheet" href="/css/product-details.css">
<title>Greeny | <%= product.name %></title>
</head>

<body>

  <%- include('./partials/__user-nav.ejs') %>
  <%- include('./partials/__user-side-cat.ejs') %>
  <%- include('./partials/__user-cart.ejs') %>
  <%- include('./partials/__user-sidenav.ejs') %>
  <%- include('./partials/__user-mobile.ejs') %>



  <!-------------- Here starts the actual body --------------------->


  <section class="single-banner inner-section" style="background: url(images/single-banner.jpg) no-repeat center;">
    <div class="container">
      <h2> <%= product.name %> </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
      </ol>
    </div>
  </section>
  <section class="inner-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="details-gallery">


            <div class="details-label-group">
              <% if (product.stock <= 0) { %>
              <label class="view-label stock-out">Sold Out</label>
              <%} else if (product.stock <= 50) { %>
              <label class="view-label rate">Only few left</label>
              <% } else { %>
              <label class="view-label new">new</label><label class="view-label off">-<%= product.discount %>%</label>
              <% }  %>
            </div>
            <ul class="details-preview">

              <!-------------- iterate through product image --------------------->
              <li><img src="/images/product/<%= product.thumbnail %>" alt="product"></li>
              <% product.images.forEach(element => { %>
              <li><img src="/images/product/<%= element %>" alt="product"></li>
              <% }) %>
              <!-------------- /iterate through image --------------------->

            </ul>
            <ul class="details-thumb">
              <!-------------- iterate through product image --------------------->
              <li><img src="/images/product/<%= product.thumbnail %>" alt="product"></li>

              <% product.images.forEach(element => { %>
              <li><img src="/images/product/<%= element %>" alt="product"></li>
              <% }) %>
              <!-------------- /iterate through image --------------------->

            </ul>
          </div>
        </div>
        <div class="col-lg-6">

          <div class="details-content">
            <h3 class="details-name"><a href="#"><%= product.name %></a></h3>
            <div class="details-meta">
              <p>SKU:<span><%= product._id %></span></p>
              <p>BRAND:<a href="#"><%= product.brand %></a></p>
            </div>
            <div class="details-rating">

              <% for( let i = 0; i < (Math.round(product.ratingsAverage)); i++ ) { %>
              <i class="active icofont-star"></i>
              <% } %>
              <% for( let i = 0; i < (5-Math.round(product.ratingsAverage)); i++ ) { %>
              <i class="icofont-star"></i>
              <% } %>

              <a href="#review-div">(<%= product.ratingsTotal %> reviews)</a>
            </div>

            <% if (product.discount==0) { %>
            <h3 class="details-price"><span>₹<%= product.price %><small>/<%= product.unitIn %></small></span></h3>
            <% } else { %>
            <h3 class="details-price">
              <del>₹<%= product.price %></del>
              <span>₹<%=  product.price*(1- (product.discount* 0.01)) %><small>/<%= product.unitIn %></small></span>
            </h3>
            <% } %>

            <p class="details-desc"><%= product.description %></p>
            <div class="details-list-group"><label class="details-list-title">tags:</label>
              <ul class="details-tag-list">

                <!-- iterate through tags -->
                <% product.tags.forEach(tag => { %>
                <li><a href="/shop?filter=tags&tag=<%= tag %>"><%= tag %></a></li>
                <% }) %>

              </ul>
            </div>

            <div class="details-add-group">

              <% if (product.stock <= 0) { %>

              <button class="product-add" title="Add to Cart">
                <i class="fas fa-shopping-basket"></i><span>Sold Out</span>
              </button>

              <% } else if (user) { %>
              <button class="product-add" data-pid="<%= product._id %>" data-action="add" title="Add to Cart">
                <i class="fas fa-shopping-basket"></i><span>add</span>
              </button>
              <div class="product-action" data-pid="<%= product._id %>" data-action="remove">
                <input class="action-input" data-pid="<%= product._id %>" title="Quantity Number" type="text" name="quantity" value="Added to cart" disabled>
              </div>

              <% } else { %>
              <button class="product-add" title="Add to Cart">
                <i class="fas fa-shopping-basket"></i><span>Login to Add</span>
              </button>
              <div class="product-action" data-pid="<%= product._id %>" data-action="remove">
                <p class="text-danger">Please login to use the cart</p>
              </div>
              <% } %>

            </div>
            <div class="details-action-group"><a class="details-wish wish <%= (wishlist && wishlist.products.some((el) => el.product._id.toString() == product._id.toString())) ? 'active': '' ; %>" data-pid="<%= product._id %>" href="#" title="Add Your Wishlist"><i class="icofont-heart"></i><span>add to wish</span></a><a class="details-compare" href="#" title="Compare This Item"><i class="fas fa-random"></i><span>Compare This</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="inner-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="product-details-frame">
            <h3 class="frame-title">Description</h3>
            <div class="tab-descrip">
              <p><%= product.description %></p>
            </div>
          </div>
          <div class="product-details-frame">
            <h3 class="frame-title">Spacification</h3>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th scope="row">Product code</th>
                  <td>ID: <%= product._id %> </td>
                </tr>
                <tr>
                  <th scope="row">Category</th>
                  <td><%= product.category.name %></td>
                </tr>
                <tr>
                  <th scope="row">Brand</th>
                  <td><%= product.brand %></td>
                </tr>
                <tr>
                  <th scope="row">Available in</th>
                  <td><%= product.unitIn %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <% if (reviews != undefined && reviews) { %>
          <div class="product-details-frame" id="review-div">
            <h3 class="frame-title">Reviews (<%= reviews.length %>)</h3>
            <ul class="review-list">

              <!---------- iterate through review  -->
              <% reviews.forEach(review => { %>


              <li class="review-item">
                <div class="review-media"><a class="review-avatar" href="#"><img src="/images/users/<%= review.user.image %>" alt="review"></a>
                  <h5 class="review-meta"><%= review.user.name %><span><%= moment(review.createdAt).format('ll') %></span></h5>
                </div>
                <ul class="review-rating">
                  <li class="<%= review.rating >= 0.5 ? 'icofont-ui-rating' : 'icofont-ui-rate-blank' ; %>"></li>
                  <li class="<%= review.rating >= 1.5 ? 'icofont-ui-rating' : 'icofont-ui-rate-blank' ; %>"></li>
                  <li class="<%= review.rating >= 2.5 ? 'icofont-ui-rating' : 'icofont-ui-rate-blank' ; %>"></li>
                  <li class="<%= review.rating >= 3.5 ? 'icofont-ui-rating' : 'icofont-ui-rate-blank' ; %>"></li>
                  <li class="<%= review.rating >= 4.5 ? 'icofont-ui-rating' : 'icofont-ui-rate-blank' ; %>"></li>
                </ul>
                <p class="review-desc"><%= review.content %></p>
              </li>

              <% }) %>

              <!---------- /iterate through review  -->

            </ul>
          </div>
          <% } %>


          <% if (typeof(user) != "undefined" && user ) { %>

          <div class="product-details-frame">
            <h3 class="frame-title">add your review</h3>

            <form class="review-form" action="/review?product=<%= product._id %>" method="POST">
              <div class="row">
                <div class="col-lg-12">
                  <div class="star-rating">
                    <input type="radio" name="rating" value="5" id="star-1"><label for="star-1" required></label>
                    <input type="radio" name="rating" value="4" id="star-2"><label for="star-2"></label>
                    <input type="radio" name="rating" value="3" id="star-3"><label for="star-3"></label>
                    <input type="radio" name="rating" value="2" id="star-4"><label for="star-4"></label>
                    <input type="radio" name="rating" value="1" id="star-5"><label for="star-5"></label>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" name="content" placeholder="Describe"></textarea>
                  </div>
                </div>

                <div class="col-lg-12">
                  <button class="btn btn-inline" type="submit">
                    <i class="icofont-water-drop"></i><span>drop your review</span>
                  </button>
                </div>
              </div>
            </form>

          </div>
          <% } %>

        </div>
      </div>
    </div>
  </section>
  <section class="inner-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-heading">
            <h2>related this items</h2>
          </div>
        </div>
      </div>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

        <!---------- iterate through related items  -->

        <% products.forEach(prod => { %>



        <div class="col">
          <div class="product-card <%= prod.stock <= 0 ? 'product-disable' : '' ; %>">
            <div class="product-media">
              <div class="product-label">
                <label class="label-text sale">sale</label>
              </div>
              <button class="product-wish wish <%= (wishlist && wishlist.products.some((el) => el.product._id.toString() == prod._id.toString())) ? 'active': '' ; %>" data-pid="<%= prod._id %>">
                <i class="fas fa-heart"></i>
              </button>
              <a class="product-image" href="/product?id=<%= prod._id %>">
                <img src="images/product/<%= prod.thumbnail %>" alt="product">
              </a>
              <div class="product-widget">
                <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#<%= prod.name.split(' ').join('') %>"></a>
              </div>
            </div>
            <div class="product-content">
              <div class="product-rating">
                <i class="active icofont-star"></i>
                <i class="active icofont-star"></i>
                <i class="active icofont-star"></i>
                <i class="active icofont-star"></i>
                <i class="icofont-star"></i>
                <a href="href=" /product?id=<%= prod._id %>"">(<%= prod.ratingsTotal || 1 %>)</a>
              </div>
              <h6 class="product-name"><a href="/product?id=<%= prod._id %>"><%= prod.name %></a></h6>

              <% if (prod.discount==0) { %>
              <h6 class="product-price"><span>₹<%= prod.price %><small>/<%= prod.unitIn %></small></span></h6>
              <% } else { %>
              <h6 class="product-price">
                <del>₹<%= prod.price %></del>
                <span>₹<%=  prod.price*(1- (prod.discount* 0.01)) %><small>/<%= prod.unitIn %></small></span>
              </h6>
              <% } %>


              <% if (user) { %>
              <button class="product-add" data-pid="<%= prod._id %>" data-action="add" title="Add to Cart">
                <i class="fas fa-shopping-basket"></i><span>add</span>
              </button>
              <div class="product-action" data-pid="<%= prod._id %>" data-action="remove">
                <input class="action-input" data-pid="<%= prod._id %>" title="Quantity Number" type="text" name="quantity" value="Added to cart" disabled>
              </div>

              <% } else { %>
              <button class="product-add" title="Add to Cart">
                <i class="fas fa-shopping-basket"></i><span>Login to Add</span>
              </button>
              <div class="product-action" data-pid="<%= prod._id %>" data-action="remove">
                <p class="text-danger">Please login to use the cart</p>
              </div>
              <% } %>

            </div>
          </div>
        </div>

        <% }) %>

        <!---------- /iterate through related items  -->

      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="section-btn-25"><a href="/shop" class="btn btn-outline"><i class="fas fa-eye"></i><span>view all related</span></a></div>
        </div>
      </div>
    </div>
  </section>

  <% products.forEach(prod => { %>

  <!-- Product view modal -->
  <div class="modal fade" id="<%= prod.name.split(' ').join('') %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <button class="modal-close icofont-close" data-bs-dismiss="modal"></button>
        <div class="product-view">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="view-gallery">
                <div class="view-label-group">
                  <label class="view-label new">new</label><label class="view-label off">-<%= prod.discount %>%</label>
                </div>
                <ul class="preview-slider slider-arrow">

                  <% prod.images.forEach(element => { %>
                  <li><img src="/images/product/<%= element %>" alt="product"></li>
                  <% }) %>

                </ul>
                <ul class="thumb-slider">

                  <% prod.images.forEach(element => { %>
                  <li><img src="/images/product/<%= element %>" alt="product"></li>
                  <% }) %>

                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="view-details">
                <h3 class="view-name">
                  <a href="/product?id=<%= prod._id %>"><%= prod.name %></a>
                </h3>
                <div class="view-meta">
                  <!-- <p>SKU:<span>1234567</span></p> -->
                  <p>BRAND:<a href="#"><%= prod.brand %></a></p>
                </div>
                <div class="view-rating">

                  <% for( let i = 0; i < (Math.round(prod.ratingsAverage)); i++ ) { %>
                  <i class="active icofont-star"></i>
                  <% } %>
                  <% for( let i = 0; i < (5-Math.round(prod.ratingsAverage)); i++ ) { %>
                  <i class="icofont-star"></i>
                  <% } %>

                  <a href="/product?id=<%= prod._id %>">(<%= prod.ratingsTotal || 1 %> reviews)</a>
                </div>
                <h3 class="view-price">
                  <% if (prod.discount==0) { %>
                  <span>₹<%= prod.price %><small>/<%= prod.unitIn %></small></span></h6>
                  <% } else { %>
                </h3>
                <h3 class="view-price">
                  <del>₹<%= prod.price %></del>
                  <span>₹<%=  prod.price*(1- (prod.discount* 0.01)) %><small>/<%= prod.unitIn %></small></span>
                  <% } %>
                </h3>

                <!-- <del>$38.00</del><span>$24.00<small>/per kilo</small></span> -->
                <p class="view-desc">
                  <%= prod.description %>
                </p>
                <div class="view-list-group">
                  <label class="view-list-title">tags:</label>
                  <ul class="view-tag-list">

                    <% prod.tags.forEach(tag => { %>
                    <li><a href="/shop?filter=tags&tag=<%= tag %>"><%= tag %></a></li>
                    <% }) %>

                  </ul>
                </div>

                <div class="view-add-group">

                  <% if (user) { %>
                  <button class="product-add" data-pid="<%= prod._id %>" data-action="add" title="Add to Cart">
                    <i class="fas fa-shopping-basket"></i><span>add</span>
                  </button>
                  <div class="product-action" data-pid="<%= prod._id %>" data-action="remove">
                    <input class="action-input" data-pid="<%= prod._id %>" title="Quantity Number" type="text" name="quantity" value="Added to cart" disabled>
                  </div>

                  <% } else { %>
                  <button class="product-add" title="Add to Cart">
                    <i class="fas fa-shopping-basket"></i><span>Login to Add</span>
                  </button>
                  <div class="product-action" data-pid="<%= prod._id %>" data-action="remove">
                    <p class="text-danger">Please login to use the cart</p>
                  </div>
                  <% } %>

                </div>
                <div class="view-action-group">
                  <a class="view-wish wish <%= (wishlist && wishlist.products.some((el) => el.product._id.toString() == prod._id.toString())) ? 'active': '' ; %>" data-pid="<%= prod._id %>" title="Add Your Wishlist">
                    <i class="icofont-heart"></i>
                    <span>add to wish</span>
                  </a>
                  <a class="view-compare" href="#" title="Compare This Item">
                    <i class="fas fa-random"></i>
                    <span>Compare This</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% }) %>

  <%- include('./partials/__user-features.ejs') %>
  <%- include('./partials/__user-footer.ejs') %>

  <script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
  <script src="vendor/bootstrap/popper.min.js"></script>
  <script src="vendor/bootstrap/bootstrap.min.js"></script>
  <script src="vendor/countdown/countdown.min.js"></script>
  <script src="vendor/niceselect/nice-select.min.js"></script>
  <script src="vendor/slickslider/slick.min.js"></script>
  <script src="vendor/venobox/venobox.min.js"></script>
  <script src="js/nice-select.js"></script>
  <script src="js/countdown.js"></script>
  <script src="js/accordion.js"></script>
  <script src="js/venobox.js"></script>
  <script src="js/slick.js"></script>
  <script src="js/main.js"></script>
</body>

</html>